.timeline-container {
  position: relative;
  padding-left: 2rem;
  border-left: 1px solid var(--text-color);
}

.timeline-entry {
  margin-bottom: 6rem;
  position: relative;
}

.timeline-entry::before {
  content: '';
  position: absolute;
  left: -2.3rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 1px;
  background-color: var(--text-color);
}

.timeline-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.timeline-role {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.timeline-company {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.timeline-date {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: inline-block;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  align-self: flex-start;
}

.timeline-description {
  font-family: var(--font-body);
  font-size: 1.1rem;
  max-width: 60ch;
  opacity: 0.8;
}
